html,
::before,
::after {
    box-sizing: border-box;
    font-size: 16px;
    font-family: acumin-pro, sans-serif;
    overflow-x: hidden;
}

body{
    margin: 0;
}

h1{
    font-family: elsie, cursive;
    font-size: 2.5rem;
    color:#730099;
    text-align: center;
}

h2{
    font-family: raleway, sans-serif;
    font-size: 2rem;
    color: #e6D117;
    text-align: center;
}



header{
    background-color: #730099;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 300px;
    grid-template-areas: 
    "logo"
    "nav"
    ;
    align-items: flex-start;
}

.logoHeader{
     grid-area: logo;
     text-align: center;
     margin: 0;
     display: block;
  
}

.logo{
    width: auto;
    margin-bottom: 10%;
    
}

nav{
    grid-area: nav;
    margin-top: 10%;
    margin-bottom: 3%;
    align-self: flex-end;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
   
}

ul li{
    text-align: center;
    width: 100%;
    
}

nav ul li a{
    display: inline-block;
    color: #e6D117;
    text-decoration: none;
    text-align: center;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    font-family: raleway, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 5px;
    transform: translateX(0px);
    transition: transform 0.5s;
      
}

.subHeader{
    background-color: #c1e4bc;
    display: grid;
    grid-template-rows: 100px 0.1fr 0.1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "search"
    "title"
    "picture"
    ;
    align-items: flex-start;
    
}

.search{
    grid-area: search;
    height:100px;
    
}

.subHeader h1{
    grid-area: title;
}

.decorationImage1{
    grid-area: picture;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.decorationImage1 img{
    width: 100%;
}

.search input{
    height: 50%;
    width: 100%;
    background-color: aliceblue;
    border-radius: 5%;
    margin-top: 3%;
    margin-bottom: 0;
}

.search label{
    display: none;
}

main{
    background-color: #a98bbd;
    margin: 0;
    padding: 10%;
}

main p{
    color: aliceblue;
    text-align: center;
}

footer{
    background-color: #e6D117;
    padding-top: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: 
    "footerText"
    "social" 
    ;
    align-items: flex-start;
}

.footerText{
    grid-area: footerText;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    
}

.socialMedia{
    grid-area: social;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.socialMedia img{
   width: 20%;
   height: 20%;
   margin: 2%;
}

.socialMedia a{
    text-align: center;
}

.contact{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: 
    "text"
    "contact"
    ;
}

.contactText{
    grid-area: text;
    margin-bottom: 5%;
}

.contactForm{
    grid-area: contact;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   align-items: flex-start;
}

.contactForm label {
    display:none ;
}

.contactForm input{
    background-color: #e6D117;
    border-radius: 10%;
    border: 0;
    margin-bottom: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-top: 2%;
    width: 100%;
    
}

::placeholder{
    color: #730099;
}

.contactForm textarea{
    background-color: #e6D117;
    color: #730099;
    border-radius: 10%;
    border:0;
    margin-bottom: 2%;
    padding-bottom: 10%;
    width: 100%;
    resize: none;
   overflow: hidden;
  
    
    
}



.contactForm button{
    background-color: #e6D117;
    color: #730099;
    border-radius: 10%;
    border:0;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}

.catering{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: 
    "text"
    "contact"
    ;
}

.cateringText{
    grid-area: text;
    margin-bottom: 5%;
}

.cateringForm{
    grid-area: contact;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   align-items: flex-start;
}
.cateringForm label{
    display: none;
}
.cateringForm input{
    background-color: #e6D117;
    border-radius: 10%;
    border: 0;
    margin-bottom: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-top: 2%;
    width: 100%;
}

.cateringForm textarea{
    background-color: #e6D117;
    color: #730099;
    border-radius: 10%;
    border:0;
    margin-bottom: 2%;
    padding-bottom: 10%;
    width: 100%;
    resize: none;
   overflow: hidden;
}

.cateringForm button{
    background-color: #e6D117;
    color: #730099;
    border-radius: 10%;
    border:0;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}

.products{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,1fr);
    grid-template-areas: 
    "bagles"
    "bread"
    "cakes"
    "croissants"
    "cupcakes"
    "sandwiches"
    "tarts"
    "waffles"
    ;
    align-items: flex-start;
}

.product_1{
    grid-area: bagles;
}

.product_2{
    grid-area: bread;
}

.product_3{
    grid-area: cakes;
}

.product_4{
    grid-area: croissants;
}

.product_5{
    grid-area: cupcakes;
}

.product_6{
    grid-area: sandwiches;
}

.product_7{
    grid-area: tarts;
}

.product_8{
    grid-area: waffles;
}

.products picture img{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.thanksContainer{
    background-color: #730099;
    padding-top: 3%;
}

.thanksContainer h1{
    color: #e6D117;
}

.thanksContainer picture img{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.thanksButton{
    text-decoration: none;
    color: #730099;
    background-color: #e6D117;
    text-align: center;
    padding:2%;
    margin-bottom: 10%;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    display: inline-block;
    border-radius: 30%;
    font-family: raleway, sans-serif;
}

.skiplinks{
    list-style: none;
    margin: 0;
    padding: 0;
}

.skiplinks a{
    position: absolute;
    top: -3em;
    font-family: raleway,sans-serif;
    color: #730099;
    text-decoration: none;
}

.skiplinks a:focus{
    position: absolute;
    top: 0;
    border: 3px solid #730099;
    background-color: #e6D117;
    color: #730099;
}

.backToTop {
    display: inline;
    text-decoration: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -100%;
    left:-100%;
    font-family: raleway,sans-serif;
    color: #e6D117;

}

.backToTop:focus{
    display: inline;
    border:3px solid #e6D117 ;
    background-color: #730099;
    position: relative;
    bottom: 0px;
    left: 0px;
}

ul li a:hover{
    color: #998a08;
    border-top:3px solid #998a08 ;
    border-bottom:3px solid #998a08 ;
    border-left: none;
    border-right: none;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
}

ul li a:focus{
    color: #998a08;
    border:3px solid #998a08 ;
    
}

.thanksButton:hover{
    background-color: #730099;
    color: #998a08;
    border: 3px solid #998a08;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
}

.thanksButton:focus{
    background-color: #730099;
    color: #998a08;
    border: 3px solid #998a08;
}

.socialMedia a:focus{
    border: 3px solid #730099;
}

ul li a:active{
 transform: translateX(100px);
 border-left: none;
 border-right: none;
}

@keyframes animationLogo{

    from{transform:translateY(0px);
         transform:scale(1);}

    to{transform:translateY(-30px);
       transform:scale(0.5);}
}

.logoHeader:active{
    animation-name: animationLogo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

}

@media screen and (min-width:800px){

    h1{
        text-align: left;
        padding-left: 30%;
        margin: 0;
      
    }

    .subHeader{
        grid-template-columns: 1fr 2.5fr;
        grid-template-rows: 1fr 100px;
        grid-template-areas: 
        "title picture" 
        "search search"
        ;
        padding-top: 3%;
        align-items: flex-start;
    }


    .logo{
        margin-bottom: 5%;
    }

    nav{
        margin-top: 5%;
    }

    .socialMedia{
        flex-direction: row;
        justify-content: space-between;
        
    }

    .break{
        display:none;
    }

    .products{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
        "bagles bread"
        "cakes croissants"
        "cupcakes sandwiches"
        "tarts waffles"
        ;
        padding: 0;
        padding-bottom: 2%;
    }

    .product_1{
        margin: 3%;
    }
    .product_2{
        margin: 3%;
    }
    .product_3{
        margin: 3%;
    }
    .product_4{
        margin: 3%;
    }
    .product_5{
        margin: 3%;
    }
    .product_6{
        margin: 3%;
    }
    .product_7{
        margin: 3%;
    }
    .product_8{
        margin: 3%;
    }
}

@media screen and (min-width:1380px){
    header{
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "logo nav"
        ;
    }

    h1{
        font-size: 3rem;
    }

    .logo{
        margin-bottom: 0;
    }

    nav{
        margin-top: 0;
       
    }

    ul{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    ul li{
        text-align: left;
        width: auto;
        margin-left: 1%;
        margin-right: 1%;
       
    }

    nav ul li a{
        text-align: left;
        margin: 0;
        width: auto;
    }

     ul li a:active{
        transform: translateY(30px);
    }

    
.subHeader{
    grid-template-columns: 1.5fr 2.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "title picture search"
    ;
    padding-top: 3%;
}

.search{
    margin-right: 2%;
}

.search input{
    border-radius: 25%
}

footer{
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "footerText social"
    ;
    padding: 0;
}

footer img{
    width: 30%;
    height: 30%;
}

.footerText{
    text-align: left;
}

.socialMedia{
    margin-top: 2%;
    justify-content:flex-end;
}

.socialMedia a{
    width: 20%;
    display: inline-block;
}
.contact{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "text contact"
    ;
}

.contact p{
    text-align: left;
    margin-right: 5%;
}

.catering{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "text contact"
    ;
}

.catering p{
    text-align: left;
    margin-right: 5%;
}

.products{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "bagles bread cakes croissants"
    "cupcakes sandwiches tarts waffles"
    ;
    align-items: flex-start;
    padding: 0;
    padding-bottom: 4%;
}
}